*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: calc(50vh - 40px) calc(50vw - 40px);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(56, 12, 56, 0.171);
  border-color: rgb(65, 57, 65) transparent rgb(68, 65, 68) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}