@use './colors';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  @media (max-width: 900px) {
    overflow-x: scroll;
  }
  
}
h1{
  font-size: 24px;
  font-weight: 700;
}
h3{
  font-size: 19px;
  font-weight: 700;
}
a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: calc(50vh - 80px) calc(50vw - 40px) calc(50vh - 40px) calc(50vw + 127px - 40px);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(56, 12, 56, 0.171);
  border-color: rgb(65, 57, 65) transparent rgb(68, 65, 68) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container{
  margin-left: 255px;
  padding: 30px;
  
  &__content{
    max-width: 1122px;
    margin: auto;
  }
  @media (max-width: 1280px) {
    margin-left: 76px;
  }
  
}
#root{
  min-width: 900px;
}

.row{
  display: flex;
  align-items: center;
  
}

.btn-primary{
  background: #2F80ED;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 20px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    display: block;
    cursor: pointer;
}

button{
  cursor: pointer;
  a{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

