.nav{
  position: fixed;
  height: 100%;
  width: 255px;
  padding-top: 32px;
  color:  #A4A6B3;
  background-color: #363740;
  svg{
    fill:#A4A6B3
  }
  &__logo{
    margin-left: 32px;
    margin-bottom: 59px;
    font-weight: 700;
    font-size: 19px;
    display: flex;
    align-items: center;
    @media (max-width: 1280px) {
        justify-content: center;
        margin: 0 0 32px 0;
    }
    &-icon{
      margin-right: 12px;
      @media (max-width: 1280px) {  
        margin: 0;
    }
      
    }
    &-name{
      color: #A4A6B3;
      @media (max-width: 1280px) {
        display: none;
       }
    }
  }
  &__list-item{
    
    a{
      display: flex;
      padding: 18px 24px 18px 32px;
      @media (max-width: 1280px) {
        justify-content: center;
        padding: 18px 0;
       }
    }
    .active{
      background-color: rgba(159, 162, 180, 0.08);
      padding-left: 29px;
      color: #DDE2FF;
      border-left: 3px solid #DDE2FF;
      svg{
        fill:#DDE2FF
      }
      @media (max-width: 1280px) {
        padding-left: 0;
       }
    }
    
    &-icon{
      display: flex;
      align-self: center;
      margin-right: 24px;
      @media (max-width: 1280px) {
        margin-right: 0;
       }
    }
    &:hover{
      background-color: rgba(159, 162, 180, 0.08);;
    }
  }
  &__list-item-title{
    @media (max-width: 1280px) {
     display: none;
    }
  }
  @media (max-width: 1280px) {
    width: 76px;
  }
}